/**
 * @name GGO Kirito
 * @author VaporousCreeper
 * @version 1.2.X
 * @description A theme with Kirito and Deathgun fighting in GGO (Gun Gale Online)
 * @source https://github.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/tree/master/Themes/GGO_Kirito
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githack.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/GGO_Kirito/core.css');

:root{
	--background: url('https://github.com/takimotochi/BetterDiscord-ThemesAndPlugins/blob/master/Themes/Highschool_DXD_Collection/Backgrounds/CharaStudio-2022-11-09-13-13-37-Render.png');

	--colour1: rgb(220,220,220);
	--colour1-active: rgba(155,155,155,0.2);

	--colour1-disabled: rgba(100,100,100,0.2);
	--colour1-disabled-border: rgb(100,100,100);

	--colour2: rgba(40,40,40,0.4);
	--colour2-border: rgb(40,40,40);

	--colour3: white;
}
  
/*
Theme Owned and Made by VaporousCreeper#9514
  
Background Img: https://wpblink.com/sites/default/files/wallpaper/anime/66761/sword-art-online-ii-wallpapers-hd-66761-327252.png 
Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

The 2 items above are not owned by me, They go to there respected owners 
*/
